{% extends 'product/base.html' %}
{% block banner %}
<div class="jumbotron">
<h1> Introduction  </h1>
<hr/>
<p> Shamridhi Vikash Sales Cooperative (formely SVSC) is established under Government ruls and its Head Office is at Punjab. </p>
<p> SVSC is a highly potential, transparent, small invesment, fully cash back and free gift with bonus plan, that "goal in only two steps ahead". </p>
<p> The company main motive is not to create group only but empowers and upgrade the status of middle class to have good for which they can't afford.</p>

<h3> Choose your group gift from 'SVSC' product group list </h3>
<h4> How to get your pin ? </h4>
<small> It is mandatory for every member to register with SVSC and got your pin through sponser having unique SVSC pin </small>
<p> After selection of group of 'Gift Item', It is mandatory for every member to register by <em> Form 'B' </em> and got your pin through sponser having unique SVSC PIN by your cooperation of gift "selected group only one".</p>
<p> On registration and getting PIN as a co-seller you become sponser for your chain </p>

<h3> How to Complete your chain? </h3>
<p> The sponser have to introduce 4 seller with pin and your all 4 seller have to introduces 4 co-sellers each with pin "having their own passwords" Your chain is complete. </p>
<p> This chain is also forwarded and got each PIN holder seperately selected gift on chain completion </p>
<h3> Cash back of your cooperation distribution </h3>
<p> The cooperation of all co-sellers distributed as follows: </p>
<small> Co-operation --> sponser --> seller --> company </small>


<h3> Claim of your Gift </h3>
<p> In completion of your chain you have to send a detail report of your chain by filling the given <em> Form C </em>. After detail reporting and and its verification, you messaged and receive your gift from SVSC store </p>

<h3> Non-Active PIN Holder </h3>
<ul> 
	<li> If any co-seller do not active and want to transfer his/her PIN to another, He/She have to be charged of Rs 500 and re-issued PIN in new given person as new co-seller. </li>
	<li> If any co-seller do not want to act he/she has only margin money refunded back and his/her pin will be locked. The company is not responsible for any loss and no claim for gift </li>
	<li> A PIN is active for only 3 months/ 90 days from date of issue. After 90 days he/she has to pay Rs 300 to extend for next 90 days validity </li>
	<li> On failing of validity, only margin money would be refunded to PIN holder </li>

</ul>
<h3> Note: </h3>
<ul>
	<li> <small> It is restricted for your responsibility to share your SVSC PIN password to other. </small> </li>
	<li> <small> Any person may join SVSC one or more time with same or other given group products list </small> </li>
	<li><small> There is no agent or employee in SVSC. All members are seller or co-seller based on 'Sabka Sath Sabka Vikash'. </small> </li>
<li><small> Any body male/female may join SVSC with sound knowledge and above 18 years old. </small> </li>
<li><small> Any new member is free to choose his/her gift from given group of his/her sponser </small> </li>
<li><small> A sponser introduce only those seller who also like or choose the same group & products given in list A </small> </li>
<li> <small> The grad of sponser: Seller -- Co-Seller is created gradually as </small>
	<ul>
		<li><small> Co-seller got pin > sponser </small> </li>
		<li><small> Introduce 4 new   > seller </small> </li>
		<li><small> seller introduce 4 new > co-seller </small></li>
	</ul>
</li>
<li><small> No one member be thritened or suppressed to join SVSC and product group selection </small> </li>
<li><small> Without completion of chain there is not gift claim. </small> </li>


</div>

{%endblock%}
{% block product %}


{% endblock %}

{% block features %}

{% endblock %}
