{% extends 'product/base.html' %}
{% block banner %}
<div class="jumbotron">
<h1> Introduction  </h1>
<hr/>
<p> Shamridhi Vikash Sales Cooperative (formely SVSC) is established under Government rules and its Head Office is at Chandigarh,Punjab. </p>
<p> SVSC is a highly potential, transparent, small invesment, fully cash back and free gift with bonus plan, that "goal in only two steps ahead". </p>
<p> The company main motive is not to create group only but empowers and upgrade the status of middle class to have good for which they can't afford.</p>

<h3 class="text-info"> Choose your group of gift from 'SVSC' product group list A </h3>
<p class="text-success"> It is mandatory to  every member to register by <em> Form 'B' </em> and got your pin through sponser having unique SVSC PIN on  your cooperation money for your selected gift.</p>
<p> On registration and getting PIN as a co-seller you become sponser for your chain </p>

<h3 class="text-info"> How to Complete your chain? </h3>
<p class="text-danger text-bold" >The sponser have to introduce 4 seller with pin and your all 4 seller also have to introduce 4 co-sellers each with pin. Your chain is complete. Simple !!</p>  <p class="text-success">(All pin holder have unique PIN and own password )</p>

<p class="text-success"> This chain is also forwarded and  each PIN holder got seperately selected gift on chain completion </p>
<h3> Cash back of your cooperation distribution </h3>
<p> The cooperation of all co-sellers distributed as follows: </p>
<small> Co-operation --> sponser --> seller --> company </small>


<h3 class="text-info"> Claim of your Gift </h3>
<p class="text-success"> In completion of your chain you have to send a detailed reports of your chain by filling the given <em> Form C </em>. After detail reporting and its verification, you be messaged and received your gift from SVSC nearest branch store. </p>

<h3> Non-Active PIN Holder </h3>
<ul> 
	<li> If any co-seller not active and want to transfer his/her PIN to another, would be charged of Rs 500 and re-issued PIN in new given person as a new co-seller  on request by proper way</li>
	
	<li> If any co-seller  not active, On surrender of PIN, his/her PIN would be locked and only consolation money would be refunded to his/her bank account. Further, the company is not responsible for any loss and  claim for gift </li>
	<li> Any PIN is active for only 3 months/ 90 days from date of issue. After 90 days he/she has to pay Rs 500 to extend for next 90 days validity </li>
	<li> On failing of validity, only consolation money would be refunded to PIN holder's bank account. </li>

</ul>
<h3> Note: </h3>
<ul>
	<li> There is no agent or employee in SVSC. All members are seller or co-seller based on 'Sabka Sath Sabka Vikash'.  </li>
	<li> It is restricted or your responsibility to share your SVSC PIN password to other for any loss.  </li>
	<li> Any person may join SVSC with sound knowledge and above 18 years old in one or more time with same or other group of plan  </li>

<li> Any member could not <em> interchange </em> his/her gift selection from another group of gifts. </li>
<li>Any new member is free to choose his/her any gift from the sponser group of gifts. </li>
<li> A sponser introduce only those seller who also like or choose the same gift group from  given <b> product list group A </b>  </li>
<li>  The grade of  <b> Sponser- Seller - Co-Seller </b> is  upgraded gradually as
	<ul>
		<li><small> Co-seller got pin > sponser </small> </li>
		<li><small> Sponser introduce 4 new member-pin   > seller </small> </li>
		<li><small> seller introduce 4 new member-pin > co-seller </small></li>
	</ul>
</li>
<li> No one member be thritened or suppressed to join SVSC and product group of gift-selection </li>
<li> Without completion of chain there is no claim of gift. </li>


</div>

{%endblock%}
{% block product %}


{% endblock %}

{% block features %}

{% endblock %}
