{% load bootstrap_themes %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Unknown" >
    <link rel="icon" href="../../favicon.ico">

    <title> {% block title %} SVSC |Samridhi Vikash Sales Cooperative |Home {%endblock title %}</title>

    <!-- Bootstrap core CSS -->
    {% bootstrap_styles theme='simplex'  type='min.css' %}
    <!-- Custom styles for this template -->
    <link href="{% static 'product/starter-templates.css'%}" rel="stylesheet">
    {% block stylesheet %} 

    {% endblock stylesheet %}
   <style>
   {% block style %}
   
    {% endblock style %}
   </style>
  </head>

  <body {% block bodytag %} {%endblock bodytag %}>
 



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
	      <a class="navbar-brand" href="{% url 'index' %}">
		      <img src="{% static 'product/img/logo.png' %}" alt="SVCA" width="70" height="70" >
	      </a>
	  <ul class='nav navbar-nav navbar-right'>
		  <li><a href='{% url "member:login" %}'> Login/Register </a>  </li>
	  </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container"> 
   {% block banner %}
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
   {% endblock banner %}
   </div>
    

 <div class="container">
 
        {% block product %} 

          {% endblock product %}

</div>
<!--/body -->     


</div> <!-- /container -->

 <!-- START THE FEATURETTES -->
 <div class="container"> 
{% block features %}
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading"> Do registration for free gift without too late !<span class="text-muted"> </span></h2>
            <p class="lead"> Membership registration is open by fully cash-back plan in two step-ahead.  </p>
          </div>
          <div class="col-md-5">
		  <img  width="400px" src="{% static 'product/img/first.gif' %}"  alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Your Simple Plan ! <span class="text-muted"></span></h2>
	    <em> New Registration with 4 pin > Join 4 new seller with pin > Each seller with 4 co-seller. </em>
        <p class="lead"> Select group of Gift Item from product list A </p>
            <p class="lead"> Got pin registration and firstly just introduce 4 sellers with pin. Secondly, all 4 sellers also introduce 4 co-sellers with pin and selected gift. </p>
	    <p class="lead">Your chain plan is complete. Isn't very simple ! Now  Receive incentives and selected gift free from nearest authorize SVSC branch store. </p>
	    <p class="lead"> This chain plan is also forwared and for each pin holder seperately selected gift free on chain completion</p>
          </div>
          <div class="col-md-5 order-md-1">
		  <img width="400px" src="{% static 'product/img/second.gif' %}" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->
<hr>
{% endblock features %}
<!-- Footer Links -->
<footer class="footer" style="background: #000;">
<div class="container text-center text-md-left">
    <!-- Footer Links -->
     <div class="row text-center text-md-left mt-3 pb-3">
       
           <!-- First column -->
           <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <img class="mb-2" src="{% static 'product/img/logo.png' %}" alt="" width="200px" >
           </div>
          <!--/ First column -->


           <!-- Second column -->
           <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
               <h6 class="text-uppercase mb-4 font-weight-bold"> FORMS </h6>
               <p><a href="{% static 'product/formA.pdf' %}"> Form A </a> </p>
               <p><a href="{% url 'planb' %}"> Form B </a> </p>
               <p><a href="{% static 'product/formC.pdf' %}"> Form C </a> </p>
           </div>
           <!-- Third column -->
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
               <h6 class="text-uppercase mb-4 font-weight-bold"> SVSC links </h6>
              <p> <a href="{% url 'index'%}"> Home  </a></p>
               <p><a href="{% url 'about' %}"> About Us </a></p>
               <p><a href="{% url 'terms' %}"> Terms & Condition</a></p>
              </div>
              <!--/ third column -->

    

              <!-- Fourth column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold"> Contact </h6>
                 <p> <span class="fa fa-home"></span> D-185, Phase 8B, Mohali, Punjab. </p>
                 <p> Pin - 160055 </p>
                 <p> <i class="fa fa-enveloper mr-3"></i> admin@shamridhivikashsalescooperative.co.in</p>
               </div>

               <!--/Fourth column -->
 
</div>

</div>
</footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'product/js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    {% bootstrap_script use_min=True %}
  </body>
</html>

