{% extends 'product/base.html' %}
{% load static %}
{% block stylesheet %}
 <script src="{% static 'product/js/jquery/jquery.min.js' %}"> </script>
 <script src="{% static 'product/js/boostrap.min.js' %}"> </script>
{%endblock stylesheet %}
{% block style %}
.photo {
  position: inherit;
  float: left;
  width: 300px;
  height: 534px;
  background-postion: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
{% endblock style %}

{% block banner %}
<div class="container">
	<h2 class="text-uppercase text-center text-info"><b> Samridhi Vikash Sales Cooperative </b></h2>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- indicators -->
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{% static 'product/img/banner1.gif' %}" alt="First" style="width:100%; height:400px;">
			</div>
		</div>

		<!-- left and right controls -->
	</div>
</div>

			

{% endblock banner %}


<!-- for product -->
{% block product %}
<div class="container">
	<hr/>
 <div class="row">
 <!-- left slider -->
  {% block left_slider %}
   <div class="col-3 col-md-3">
    <div class="list-group">
     <a href="#" class="list-group-item list-group-item-action active"> Groups </a>
    {% for category in categories %}
     <a href="{% url 'category-detail' category.pk %}" class="list-group-item list-group-item-action">{{category.name}} </a>
   {% endfor %}
    </div>
     
   <!-- for forms group -->
     <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active"> Forms </a>
      <a href="{% static 'product/formA.pdf' %}" class="list-group-item list-group-item-action"> Application Form(A) </a>
      <a href="{% url 'planb' %}" class="list-group-item list-group-item-action"> Cooperation Money Plan (B)</a>
      <a href="{% static 'product/formC.pdf' %}" class="list-group-item list-group-item-action"> Detail Report Form(C)</a>
     </div>
   <!-- end of forms group -->
   </div>
  {% endblock left_slider %}
   <!--/left slider -->

   <div class="col-9 col-md-9">
     
	<h2 class="text-success"> Our Product </h2>
</div>

<!-- Looping over product selected models -->
         {% for product in products %}
            <div class="col-md-3">
		    <div class="card" >
                     <a href="{% url 'category-detail' product.category.pk %}" class="photo" style="background-image:url('{{product.image.url}}');"></a>
			<!--    <a href="{% url 'category-detail' product.category.pk %}" > <img class="card-img-top" src="{{product.image.url}}"  width="250px"  alt="card Image top"> </a> -->
			    <div class="card-body">
				    <h5 class="card-title"> {{product.get_sub_category_display}} </h5>
			    </div>
		    </div>
	    </div>
{% endfor %}
       </div>
    <!-- end of main part -->
</div>
<!-- end of row -->
</div> <!-- end of product row -->

{%endblock product %}






 
