{% extends 'product/base.html' %}
{% load static %}
{% block stylesheet %}
 <script src="{% static 'product/js/jquery/jquery.min.js' %}"> </script>
 <script src="{% static 'product/js/boostrap.min.js' %}"> </script>
{%endblock stylesheet %}
{% block banner %}
<div class="container">
	<h2 class="text-uppercase text-info"> Samridhi Vikash Sales Cooperative </h2>
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- indicators -->
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{% static 'product/img/banner1.gif' %}" alt="First" style="width:100%; height:400px;">
			</div>
		</div>

		<!-- left and right controls -->
	</div>
</div>

			

{% endblock banner %}


<!-- for product -->
{% block product %}
<div class="container">
	<hr/>

	<h2 class="text-success"> Our Product </h2>
	<ul class="nav nav-tabs">
	{% for category in categories %}
	<li class="nav-item">
		<a class="nav-link" href="{% url 'category-detail' category.pk %}">{{category.name}}</a>
	</li>
          
	{%endfor%}
	</ul>
</div>

<!-- Looping over product selected models -->
         {% for product in products %}
            <div class="col-md-3">
		    <div class="card" style="width: 18rem;">
			    <a href="{% url 'category-detail' product.category.pk %}" > <img class="card-img-top" src="{{product.image.url}}" width="200px" height="300px" alt="card Image top"> </a>
			    <div class="card-body">
				    <h5 class="card-title"> {{product.get_sub_category_display}} </h5>
			    </div>
		    </div>
	    </div>
{% endfor %}
</div> <!-- end of product row -->

{%endblock product %}






 
