{% extends 'product/base.html' %}

{% block banner %}
{%endblock %}

{%block product %}
<div class="jumbotron">
<h1> Terms and Condition </h1>
<p>  Any person who wants to become or is a member must accept the term and condition.</p>

<ul>
 <li> It is mandatory for each and every member to register with SVSC through sponser(group-share) having unique SVSC id number </li>
 <li> A sponser have to introduce only 4 members </li>
 <li> A Chain - sponser make 4 sellers and all the 4 seller also introduce 4 sellers and so on </li>
 <li> There is no agent or employee in SVSC. All members are sellers and co-sellers based on Sabka Sath Sabka Vikash </li>
 <li> Any body who is 18 years or more and have sound knownledge are eligible to become a member of SVSC </li>
 <li> At the time of joining or after the joining no one be suppressed or threatened to select any gift group. </li>
 <li> All the document must be supposed and fullfilled at the time of joining </li>
 <li> At the time of gift receiving. Whatever be the sales Tax/TDS must be paid by the benefecier </li>
 <li> All the gift is received from nearest service center or shops </li>
 <li> No member have to change the SVSC rules, demoralize or harrassed. </li>
 <li> Alloted SVSC Member Id is valid for a period of 3 months only from date of joining.  After which the ID will become inactive.  In order to renew the id the member must visit nearest branch to pay late fine of Rs 1000 and extend the validity for next 3 month. </li>
 <li> For any reason, If any co-seller want to transfer his/her ID to another within ID validity period, will have to pay re-registration fees of Rs 2000. </li>
 <li>  After cancellation of any ID only one third amount of donation is to be refund on surrender or substitution of his/her ID with application </li>
 <li>
	 After cancellation of any ID no new co-sellar be joined from that ID and the sponser is not entitled for any gift without joining another co-sellar as rule. </li>
 <li> A member without joining another member is not entitled for any kind of gift or prize </li>
 <li> A member completing his chain, i.e, 4 X 4 members can raise a request to authority to claim a prize.  The prize will be give after proper verification from the company. </li>

 <li> The company reserves all right to amend the rules for the benefit of man kind </li>
</ul>
</div>

{%endblock%}

{% block features %}

{% endblock%}
