
{% extends 'member/base.html' %}  
  {% block title %} Add Member form {% endblock title %}
  {% block style %}
  .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
  {%endblock style%}
   
   {% block content %}

   <div class="container" > 
	   <div class="container">
	   <h1 class="text-info text-center "> New Member Registration Form </h1>
   <form method="post" class="form"  novalidate>
  {% csrf_token %}
  
  {% include 'member/bindex.html' with form=form %}
  <div class="row">
	  <div class="col-md-5">
	  </div>
	  <div class="col-md-5">
  <button type="submit" class="btn btn-primary">Submit</button>
          </div>
  </div>
</form>
           </div>
   </div>
{%endblock content %}
 
