
{% extends 'base.html' %}  
  {% block title %} Add Member form {% endblock title %}
  {% block style %}
  .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
  {%endblock style%}
   
   {% block content %}
   <div class="container center_div"> 
   <div class="row">    
   <form method="post" novalidate>
  {% csrf_token %}
  
  {% include 'member/bindex.html' with form=form %}
    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock content %}
 
