{% extends 'member/base.html' %}

{% block content %}
<div class="container">
          <h2 class=""> Add New Member </h2>
	  <table class="table table-striped" style="border: 1px solid green;">
		  <thead >
			  <tr class="table-success">
				  <th scope="col"> </th>
				  <th scope="col"> Key 1 </th>
				  <th scope="col"> Key 2 </th>
				  <th scope="col"> Key 3 </th>
				  <th scope="col"> Key 4 </th>
			  </tr>
		  </thead>
		  <tbody>
			  <tr class="table-success">
				  <td scope="col">    </td>
				  {% if member %}
				     {% for key in member.get_child %}
				     <td> <a href="{% url 'member:add' member_id=member.user %}?key={{key}}"> {{key}}</a> </td>
					{% endfor %}
				 {% else %}
				 {% with '1 2 3 4' as list %}
				    {% for time in list.split  %}
				        <td> ---- </td>
				    {% endfor %}
				    {% endwith %}
				 {% endif %}
		           </tr>
		  </tbody>
	  </table>
</div>

{% endblock content %}
