{% extends 'member/base.html' %}
{% load static %}
{% block stylesheets %}
   {{block.super}}
    <link rel="stylesheet" href="{% static 'member/css/hierarchy-view.css'%}">
    <link rel="stylesheet" href="{% static 'member/css/main.css' %}">
    {% endblock stylesheets %}
    {% block content %} 
    <!--Management Hierarchy-->
    <section class="management-hierarchy">
	    <h1> Tree View </h1>

	    <div class="hv-container">
		    <div class="hv-wrapper">
                      
			    <!-- Key Component -->
			    <div class="hv-item">
                                
				    <div class="hv-item-parent">
                                           <div class="person">
						   <img src="{{user.profile.image.url}}" alt="Main User">
						   <p class="name" style="background-color:orange;"> {{member.user}} </p>
					   </div>
				    </div>

				    <div class="hv-item-children">
					    {% for first_child, values in tree.items %}
					    <div class="hv-item-child">
						    <div class="hv-item">
							  
							    <div class="hv-item-parent">
								    <div class="person">
									    <img src="/media/user/none/no_img.png" alt="First">
									    <p class="name"> {{ first_child }} </p>
								    </div>
							    </div>

							    <div class="hv-item-children">
								    {% for second_child in values %}
								    <div class="hv-item-child">
									    <div class="person" >
										    <img src="/media/user/none/no_img.png" alt="Second">
										    <p class="name">{{ second_child }} </p>

									    </div>
								    </div>
								    {% endfor %}
							    </div>
						    </div>
					    </div>
					    {% endfor %}
					     
				    </div>
			    </div>

		    </div>
	    </div>
    </section>



    {% endblock content %}

    {% block javascript %}
    
    {{ block.super }}
    {% endblock javascript %}
